# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store

# Ignore log files
*.log

# Ignore Terraform state and backup files
terraform.tfstate
terraform.tfstate.*
.terraform/
.terraform.lock.hcl

# Ignore local secrets or variables
terraform.tfvars

# Ignore compiled R files (if any)
*.RData
*.rdb
*.rds

# Ignore build/output binaries
darwin_amd64/
