# === PYTHON ===
venv/
__pycache__/
*.py[cod]
*.so
*.pyd
*.tmp
*.bak
*.log

# Jupyter
.ipynb_checkpoints/

# === TERRAFORM ===
terraform.tfstate
terraform.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars

# === R / RStudio ===
*.RData
*.rdb
*.rds
*.Rproj
.Rproj.user/

# === AIRFLOW & MWAA ===
airflow.db
logs/
.dags/
plugins/__pycache__/
*.airflow

# === DATA OUTPUT ===
data/db/*.csv
*.sqlite
*.parquet
*.avro

# === SYSTEM FILES ===
.DS_Store
Thumbs.db

# === BUILD ARTIFACTS ===
darwin_amd64/
build/
dist/
*.egg-info/

# === ENV / CREDENTIALS ===
.env
.env.*
*.env
secrets.yaml

# === IDEs ===
.vscode/
.idea/
*.code-workspace

# === TEST ARTIFACTS ===
.coverage
pytest_cache/
htmlcov/
__snapshot__/
